body {
    background: rgb(212, 165, 165);
    width: 100%;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 15px 15px 25px 15px;
    text-align: center;
    text-shadow: 2px 2px gray;
}

#links {
    background-color: pink;
    width: 100%;
}

.bg-light {
    background-color: none;
}

#insta {
    left: 20px;
    bottom: -3px;
    position: relative;
}

#one {
    width: 67%;
    margin-left: 15px;
    font-family: 'Grenze', serif;
    font-size: 1.2em;
    padding: 5px, 5px, 5px, 5px;
    margin-top: 30px;
}

#abText {
    font-size: 35px;
    width: 20%;
    border-style: double;
    border-width: 1px;
    padding: 5px 5px 5px 12px;
    border-top-right-radius: 6px;
    margin-bottom: 0;
    border-color: gray;
    background: pink;
    margin-left: 15px;
}

p {
    padding-left: 15px;
    border-radius: 0 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 30px 35px 30px 35px;
    margin-left: 15px;
    box-shadow: 5px 5px;
}

img {
    image-orientation: from-image;
}

#profile {
    height: 200%;
    width: 150%;
    position: relative;
    bottom: -190px;
    left: -300px;
}

#shrimp {
    height: 75%;
    width: 190%;
    position: relative;
    bottom: -55px;
    left: -295px;
    transform: rotate(90deg);
}

#weekly {
    font-size: 35px;
    width: 33%;
    border-style: double;
    border-width: 1px;
    padding: 8px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
    border-color: gray;
    background: pink;
    margin-left: 15px;
}

#things {
    font-size: 35px;
    width: 35%;
    border-style: double;
    border-width: 1px;
    padding-left: 8px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
    border-color: gray;
    background: pink;
    margin-left: 15px;
}

#vid1 {
    margin-left: 15px;
    margin-top: 10px;
}

#box1 {
    width: 40%;
    float: right;
}

#box2 {
    width: 40%;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.nav-link {
    font-family: 'Titillium Web', sans-serif;
}

#list {
    padding-left: 15px;
    border-radius: 0 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 30px 35px 30px 35px;
    margin-left: 15px;
    box-shadow: 5px 5px;
}

