@media screen and (max-width: 1024px) {
    
    header {
        width: 100%;
    }

    p {
        width: 80%;
    }

    #profile {
        position: relative;
        bottom: 805px;
    }

    #abText {
        width: 25%;
    }

    #ws {
        width: 35%;
    }

}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    #abText {
        width: 32%;
    }

    p {
        width: 100%;
    }

    #profile {
        display: none;
    }

    #ws {
        width: 45%;
    }

    #links {
        height: 75px;
    }

    #utwo {
        position: relative;
        left: 60px;
        bottom: 40px;
    }

    #uthree {
        position: relative;
        left: 135px;
        bottom: 80px;
    }

    #ufour {
        position: relative;
        left: 321px;
        bottom: 120px;
    }



}

@media screen and (max-width: 414px) {

    header {
        width: 100%;
    }

    #abText {
        width: 60%;
    }

}